[2022-09-30 20:59] nschneid opened #2156 "Extra "edition" in generated citation for a proceedings volume"
E.g. https://aclanthology.org/2022.gwll-1.0/:

<img width="846" alt="image" src="https://user-images.githubusercontent.com/985263/193355226-94cfd673-3a91-421e-a861-743ddc9aee3e.png">

I suspect the word "edition" is added if there is an editor even if there is no edition number.

[2022-10-01 04:45] hannahburkhardt opened #2157 "Correction to Anthology ID 2022.clpsych-1.9"
Metadata correction:
author’s name is listed as Aren, but should be Areán (as shown in the pdf)

[2022-10-01 13:42] mbollmann commented on #2156
The bug is outside of our repo, namely here:

https://github.com/citation-style-language/styles/blob/master/association-for-computational-linguistics.csl

Doesn't seem to have anything to do with editors, the citation style adds the "edition" text for certain bibtypes without caring if there is actually an "edition" value or not. At least that's my interpretation.

[2022-10-03 08:02] nightowl-jp opened #2158 "Correction to Anthology ID 2022.lrec-1.83"
## Option 2: Revision or erratum

- [x] I have attached the revised PDF or erratum to this issue
- [x] I have written a brief description of the changes below

[2022.lrec-1.83.pdf](https://github.com/acl-org/acl-anthology/files/9695633/2022.lrec-1.83.pdf)

This revision corrects a typo in the last name of the second author (correct: Tokunaga, wrong: Tokuanaga).

[2022-10-03 11:03] mjpost commented on #2142
Thanks. This looks good—what's missing is the proposed venue codes (e.g., "coling" for [COLING](https://aclanthology.org/venues/coling), "latechclfl" for [LaTeCH-CLfL](https://aclanthology.org/venues/latechclfl/)). This is especially needed for new venues, but we also need to match up existing ones. Can you please add these to the workshops?

[2022-10-03 15:11] Dotkat-dotcome opened #2159 "Correction to Anthology ID 2022.lrec-1.403"
## Option 2: Revision or erratum

*Please add the following information*

- [x] I have attached the revised PDF or erratum to this issue
- [x] I have written a brief description of the changes below

[biore_prompt_corrected.pdf](https://github.com/acl-org/acl-anthology/files/9698654/biore_prompt_corrected.pdf)

[2022-10-04 02:36] jonfd opened #2160 "Correction to Anthology ID 2022.lrec-1.804"
Anthology ID: 2022.lrec-1.804
Link to the published paper: https://aclanthology.org/2022.lrec-1.804/

## Metadata correction

The name of the primary author is incorrect. It should be Jón Friðrik Daðason.

[2022-10-04 02:59] #2119 closed

[2022-10-04 02:59] #2127 closed

[2022-10-04 02:59] #2138 closed

[2022-10-04 02:59] #2141 closed

[2022-10-04 02:59] #2143 closed

[2022-10-04 02:59] #2148 closed

[2022-10-04 02:59] #2151 closed

[2022-10-04 02:59] #2153 closed

[2022-10-04 02:59] #2155 closed

[2022-10-04 02:59] #2157 closed

[2022-10-04 09:33] 10-Is-Mana opened #2161 "Correction to Anthology ID 2022.lrec-1.326"
## Metadata correction

https://aclanthology.org/2022.lrec-1.326.pdf
This revision corrects the last author's name; the first and the last name should be inversed. It should be as written in the following line: https://github.com/acl-org/acl-anthology/blob/3f1dbb15c008b0de1e7635acbc261b7bb71b2ae9/data/xml/2020.aacl.xml#L1291

[2022-10-04 15:20] mjpost commented on #2160
If you want to edit the file `data/xml/2022.lrec.xml`, make the correction, and create a PR, we can merge this soon. Else it will be processed at the end of the month with October's corrections.

[2022-10-04 15:21] mjpost commented on #2161
If you like, create a PR with the correction (in file `data/xml/2022.lrec.xml`). We can then process this right away. Otherwise, we will fix it and process it at the end of the month with October's corrections.

[2022-10-04 18:39] nash2000 commented on #2142
Dear Matt,

Thank you for your handling our ingestion request. The proceedings are almost ready, so they will be submitted soon.

As you requested, here are the venue codes for all workshops, by maximally matching with the existing ones in anthology.
 - please see the field of details, which are categorized into "exists", "distributed", and "newly proposed", according to whether its venue code is

[2022-10-05 10:31] nash2000 commented on #2142
Dear Matt,

Among the codes suggested in the previous message, we are sorry for making this request,
but could you please use the revised venue code for the following workshop?

========================================================
10. Proceedings of Workshop on When Creative AI Meets Conversational AI

- venue code: cai
- details: newly proposed
================================================

[2022-10-05 18:32] nash2000 commented on #2142
Dear Matt,

The zipped proceedings of COLING 2022 (for the main conference and workshops) are now ready in the following links:
- https://nlp.jbnu.ac.kr/coling2022/coling2022_data.tgz
Or you can download it from Google drive here:
- https://drive.google.com/file/d/1NJ2b0RfKSoREnVKjzvD-ZhSe1Y_JO-qI/view?usp=sharing

Could you please ingest them to ACL anthology by Oct 11 AoE, if possible?

Below is

[2022-10-05 20:37] kandykan opened #2164 "Correction to Anthology ID 2022.lrec-1.533"
**Metadata correction**

The last author should be "[Katherine J. Zhang](https://aclanthology.org/people/k/katherine-j-zhang/)" as in the PDF instead of just "Katherine Zhang".

https://aclanthology.org/2022.lrec-1.533

[2022-10-06 00:09] Eric-Wallace commented on #2111
@xinru1414 following up again

[2022-10-07 23:32] xinru1414 commented on #1897
@MirunaClinciu sorry about the late response. I looked at the git repo containing the proceedings. I can't ingest the proceedings because the format isn't correct. I noticed that you are following aclpub2. Please follow instructions [here](https://github.com/rycolab/aclpub2) to generate the `expected output` and share the data.tgz here. I'll proceed to ingest once I receive the correct ingestion m

[2022-10-08 00:20] nschneid opened #2168 "Correction to Anthology ID 2022.lrec-1.194"
Author order doesn't match PDF

[2022-10-08 01:52] #2161 closed

[2022-10-08 02:18] xinru1414 commented on #2150
Thank you for sharing the videos. However i don't think we have the complete ingestion material (pdfs, bibs etc) for SigDial 2022. Could you please upload them here as well? @malihealikhani

[2022-10-08 02:20] xinru1414 commented on #2142
Ingested (#2167). Missing `AM_2022` material.

[2022-10-09 12:19] nash2000 commented on #2142
Dear Xinru Yan.

Thank you very much for ingesting our proceedings on ACL anthology despite the urgent request.

The remaining proceedings for the workshop on Argument Mining are now available, directly from the following link:
https://nlp.jbnu.ac.kr/coling2022/coling2022_wm2022_data.tgz

Or you can download the tarball file from Google drive:
https://drive.google.com/file/d/1nTNbD455meu_zncIagSUF

[2022-10-10 11:11] DCL-IBL commented on #2113
Hi @xinru1414,

Just a reminder that I added the data for 2022 - link above, in case you missed my message.

Many thanks,
ivelina

[2022-10-10 12:10] #2100 closed

[2022-10-10 19:42] manueltonneau opened #2171 "Correction to Anthology ID 2022.acl-long.453"
# Instructions

**Please be sure to add the Anthology ID in the Issue title**

Please review [our correction policy](https://aclanthology.org/info/corrections/),
then fill out the information below.

## Option 1: Metadata correction

*Please replace this text with a description of the issue*

## Option 2: Revision or erratum

*Please add the following information*

- [x] I have attached the revise

[2022-10-11 09:54] tanthongtan opened #2173 "Correction to Anthology ID P19-2057"
## Option 1: Metadata correction

The abstract in the corrected version of the paper (v2) is slightly different from the abstract in the original version, but the anthology website still shows the original abstract. Can the abstract on the website be changed to the corrected version (v2)?

New abstract:

In document-level sentiment classification, each document must be mapped to a fixed length vec

[2022-10-11 15:13] sabithsn commented on #2150
Hi, Here is the link to the tar file:
https://drive.google.com/file/d/1fQyfrXb8X5Lpff8TfpAL5tTZ_OrDJO6i/view?usp=sharing

The pdfs, bibs etc are inside the cdrom folder. If you need anything else, please let us know,

[2022-10-11 18:26] mjpost commented on #2150
What date do you want these published?

[2022-10-11 18:32] malihealikhani commented on #2150
As soon as possible. Thanks!
Malihe

On Tue, Oct 11, 2022 at 2:26 PM Matt Post ***@***.***> wrote:

[2022-10-11 19:15] mjpost opened #2180 "Add workshop links"
Prior to 2020, workshops were automatically gathered under the "ws" venue tag, such that one could easily peruse all workshops in a given year (e.g., [2019](https://aclanthology.org/events/ws-2019/)). With 2020's new ID system, that linkage is no longer automatic, and while we seemed to do this for a bit in 2020, we haven't in 2021 and 2022. This removes a feature that some people have found usefu

[2022-10-11 19:16] mjpost commented on #2180
@xinru1414 can you pull this together when you have a moment?

[2022-10-11 19:35] #2142 closed

[2022-10-12 02:38] Sam-zcl opened #2181 "Correction to Anthology ID 2022.ccl-1.65"
Metadata correction

We found the  first names and last names in English papers of CCL2022 are not in the right order.
The names in Anthology ID 2022.ccl-1.65 currently are Qi Da, Zhou Chenliang, and Liu Haitao.
The correct form should be Da Qi, Chenliang Zhou, and Haitao Liu.

![image](https://user-images.githubusercontent.com/44527431/195236604-262c9387-06da-4606-b8b1-fb0b68b33b9b.png)
![image](

[2022-10-12 04:03] xinru1414 commented on #2150
@mjpost for the video files, do we store them somewhere?

[2022-10-12 04:53] 1162100124 opened #2182 "Correction to Anthology ID 2022.ccl-1.48"
**Option 2: Revision or erratum**
- [ √] I have attached the revised PDF or erratum to this issue
- [ √] I have written a brief description of the changes below
[2022.ccl-1.48.pdf](https://github.com/acl-org/acl-anthology/files/9761075/2022.ccl-1.48.pdf)

[2022-10-12 04:54] dxlong2000 opened #2183 "Correction to Anthology ID 2022.coling-1.48"
Hi, I am one of the authors of the paper: ```2022.coling-1.48``` (Xuan Long Do). I am also one of the authors of the paper ```2022.findings-acl.177``` (Do Long). It seems that 2 accounts are not linked together. Could you help to merge ```Xuan Long Do``` and ```Do Long``` to become ```Xuan Long Do```?

Thanks!

[2022-10-12 09:47] nash2000 opened #2184 "Correction to Anthology events - coling-2022 & crac (CRAC workshop in COLING 2022)"
Dear anthology directors,

Thank you again for ingesting our COLING 2022 proceedings to anthology.

But, our workshop organizers checked the proceedings and found that one workshop is missing and a title of CRAC workshop should be changed.

In other words, here are the original requests for these aforementioned workshops:
----------------------------------------------------------------------------

[2022-10-12 10:04] nash2000 commented on #2184
Dear anthology directors,

Our workshop oragnizsers found that the following workshop (i.e Argument Mining) is also missing.

==========================================================================
14.  AM_2022: Proceedings of the 9th Workshop on Argument Mining
    venue code: argmining
    details: exists
==========================================================================
We guess that

[2022-10-12 13:45] Husamx opened #2185 "Correction to Anthology ID 2022.coling-1.520"
## Option 2: Revision or erratum

*Please add the following information*

- :white_check_mark: I have attached the revised PDF or erratum to this issue
- :white_check_mark: I have written a brief description of the changes below

[2022.coling-1.520_fixed.pdf](https://github.com/acl-org/acl-anthology/files/9765347/2022.coling-1.520_fixed.pdf)

[2022-10-12 20:23] maihoangdao opened #2186 "Correction to Anthology ID 2022.wnut-1.21"
## Option 1: Metadata correction

Please change the name of the first author "Mai Dao" to "Mai Hoang Dao".

[2022-10-13 00:03] dowobeha opened #2188 "Correction to Anthology ID 2022.fieldmatters-1.8"
## Option 1: Metadata correction

DOI at the bottom of the PDF links to a different paper

[2022-10-13 00:04] dowobeha commented on #2180
Thanks! I encountered this today, when I was surprised to find my COLING workshop paper listed under COLING 2022 instead of WS.

[2022-10-13 01:46] mjpost commented on #2150
@xinru1414 please

1. Name them using the Anthology IDs
2. Place them under `videos/sigdial/`

We should also add another `<video>` tag linking to our local copy, but we can do that in a separate PR. Just please make a note of it!

[2022-10-13 01:50] #2150 closed

[2022-10-13 04:42] xinru1414 commented on #2184
@nash2000, 1) CRAC 2022  is updated to fifth. 2) Workshop argmining and the CRAC 2022 Shared Task on Multilingual Coreference Resolution proceedings were ingested:

https://aclanthology.org/volumes/2022.argmining-1/
https://aclanthology.org/volumes/2022.crac-mcr/

They were not linked to the COLING page. I just fixed that as well.

These changes should be reflected on anthology soon.

[2022-10-13 04:51] xinru1414 commented on #2184
@mjpost for `Proceedings of CRAC 2022 Shared Task on Multilingual Coreference Resolution` -- it's clearly a shared task, not a workshop. Do shared tasks get linked in the joint yaml file?

[2022-10-13 08:54] MrSeven77 opened #2192 "Correction to Anthology ID 2022.coling-1.30"
## Option 1: Metadata correction

Please change the title of this paper into "Incorporating Causal Analysis into Diversified and Logical Response
Generation" along with its bibkey. There's a typo in the word "Causal".

## Option 2: Revision or erratum

- [x] I have attached the revised PDF or erratum to this issue
- [x] I have written a brief description of the changes below

*The brief descriptio

[2022-10-13 11:37] mjpost commented on #2184
Yes, it gets added to the joint file because it was colocated with that event.

[2022-10-13 12:01] #2132 closed

[2022-10-13 20:26] #2184 closed

[2022-10-14 01:43] #2180 closed

[2022-10-14 04:08] zsquaredz opened #2193 "Correction to Anthology ID 2022.ccl-1.73"
## Option 1: Metadata correction

The order of first-name and surname of both authors in the paper is displayed wrongly in the metadata. It should be "Zheng Zhao"  (first-name=Zheng, surname=Zhao) and "Pinzhen Chen" (first-name=Pinzhen, surname=Chen) instead of the current "Zhao Zheng" and "Chen Pinzhen". I found this seems to be a common problem for most English paper in CCL. Perhaps there is an

[2022-10-14 05:20] xinru1414 commented on #2193
@zsquaredz Thank you for pointing this out. However, the order of first name and last name for both authors is wrong in anthology metadata is because the order is wrong in the bib file ( see screenshot below):

<img width="443" alt="Screen Shot 2022-10-13 at 10 13 58 PM" src="https://user-images.githubusercontent.com/27436920/195767434-1a6235b2-10ef-4aa3-b823-895241418b79.png">

The author field s

[2022-10-14 05:40] zsquaredz commented on #2193
@xinru1414 Thank you for your help! So will you help us to correct this? Or if I need to modify this myself, could you please let me know where I can modify this bib file?

[2022-10-14 05:42] xinru1414 commented on #2186
@maihoangdao Could you provide your first name and last name separately please?

[2022-10-14 05:44] xinru1414 commented on #2193
@zsquaredz I will!

[2022-10-14 05:51] xinru1414 commented on #2188
@dowobeha Thank you for pointing this out.  @mjpost we can't modify neither of these (pdf and DOI), correct? Any suggestions?

[2022-10-14 05:53] zsquaredz commented on #2193
@xinru1414 Thank you! Also, just curious why is your screenshot of bib is different from the one on here: https://aclanthology.org/volumes/2022.ccl-1.bib ? Also the bibkey in yours has the year of 2021 which is also quite strange, shouldn’t it be zhao-chen-2022-adapt?

[2022-10-14 06:08] xinru1414 commented on #2193
@zsquaredz  Not sure what you mean:

1. bib from https://aclanthology.org/volumes/2022.ccl-1.bib of the paper (notice the author order):
<img width="659" alt="Screen Shot 2022-10-13 at 11 03 36 PM" src="https://user-images.githubusercontent.com/27436920/195773792-eb05366b-ff83-428c-b968-292a3e23872e.png">

2. bibkey (2022)
<img width="807" alt="Screen Shot 2022-10-13 at 11 05 54 PM" src="https://u

[2022-10-14 08:06] PinzhenChen commented on #2193
I found that the data in https://github.com/acl-org/acl-anthology/blob/master/data/xml/2022.ccl.xml are not consistent. For Chinese papers the firstname and lastname seem correct but these fields seem swapped for *all* Chinese papers.

I not not sure if the bib file generates this, or it’s the other way round.

[2022-10-14 09:31] MrSeven77 commented on #2192
Thanks a lot for your quick response! However, I wonder if these two lines should be corrected (by changing the word 'casual' into 'causal'):
``` <title>Incorporating Casual Analysis into Diversified and Logical Response Generation</title>```
```<bibkey>liu-etal-2022-incorporating-casual</bibkey>```

[2022-10-14 11:40] mjpost commented on #2188
This happens sometimes that workshop organizers add a DOI link, which is always incorrect. We could reingest the complete proceedings if the organizers regenerated.

[2022-10-14 13:32] zsquaredz commented on #2193
@xinru1414 In [this](https://github.com/acl-org/acl-anthology/issues/2193#issuecomment-1278497462) comment, you uploaded [this](https://user-images.githubusercontent.com/27436920/195767434-1a6235b2-10ef-4aa3-b823-895241418b79.png) screenshot which has the bibkey as "zheng-etal-2021-to". It seems strange as it is different from the bibkey entry now on the website, and I was not sure where this is c

[2022-10-14 18:24] dxlong2000 commented on #2183
Hi @xinru1414, so far I haven't seen they were merged yet, may I know if you fixed the issue?

https://aclanthology.org/people/d/do-long/
https://aclanthology.org/people/x/xuan-long-do/

Thanks!

[2022-10-14 20:06] xinru1414 commented on #2193
@zsquaredz oh i see what you mean. So the first entry in the `inproceedings` is called a `citekey` I believe. We refer to bibkey as in the screenshot I shared above `zheng-pinzhen-2022-adapt` (that's why I was a bit confused).

We receive bib files (as part of ingestion material) from conference organizers, which I believe are submitted from the authors?

@PinzhenChen Could you be more specific? W

[2022-10-14 22:34] PinzhenChen commented on #2193
Hi @xinru1414, I mean for most if not all Chinese papers, the "first name" field in the XML file has the value of a last name; the last name field usually is a first name. We find this to be a consistent error in the XML file. It might be a result of a mismatching data interface/generator.

also ref #2181

[2022-10-15 12:27] mjpost commented on #2193
A few points of clarification:

* If the names are reversed, it's because that's how the data was given to us by the CCL organizers. Our ingestion routines are automatic. In the _incoming_ bibfiles, they names should be listed in BibTeX format, e.g., "Matt Post and Xinru Yan" or, preferably, "Post, Matt and Yan, Xinru".
* We are happy to resolve these issues. We could re-ingest, if the CCL organiz

[2022-10-15 19:44] joanPlepi opened #2195 "Correction to Anthology ID 2022.textgraphs-1.10"
## Option 1: Metadata correction

In the metadata and citation the order of the author is different from the one in the pdf. The first two need to change the order. The correct order of the authors is as in the pdf: Joan Plepi, Flora Sakketou, Henri-Jacques Geiss, Lucie Flek.

Thank you

[2022-10-17 01:05] xinru1414 commented on #2188
Contacted COLING organizers, waiting on response.

[2022-10-17 01:10] xinru1414 commented on #2113
@DCL-IBL Before I ingest, just wanted to double check with you that the uploaded ingestion material is correct -- This request is for CLIB 2022, however all the dates in the ingestion material  (such as the pdfs and the meta file) is CLIB 2020.

[2022-10-17 05:24] maciej-ogrodniczuk opened #2197 "Wrong DOI in papers of CODI-CRAC 2022 Shared Task proceedings"
Dear Editors,

I have just noticed that papers from the Proceedings of the CODI-CRAC 2022 Shared Task on Anaphora, Bridging, and Discourse Deixis in Dialogue](https://aclanthology.org/volumes/2022.codi-crac/) have wrong DOIs in the citation stamp (on the first page of the article), all pointing to a RANLP 2019 paper. Could you please remove them?

Best,
Maciej (CRAC 2022 organizer)

[2022-10-17 06:37] DCL-IBL commented on #2113
Hi @xinru1414
The shared folder contained both the data for 2020 and for 2022. I now removed the old one, so that only 2022 is left. Apologies for causing a confusion.
https://drive.google.com/drive/folders/1A89OSQYyN2ufxNUje78CzC-aHnmchFqb

Best wishes,
Ivelina

[2022-10-17 10:16] mbollmann commented on #2197
The PDFs are not modified by us in any way. We can replace them if we get an updated version from you or your publication chair(s).

[2022-10-17 12:04] nash2000 opened #2198 "Correction to Anthology ID 2022.coling-1"
Dear Anthology Directors,

There is a major typo in the footer on all papers in the main proceedings: “Computational Linguistic” should be corrected to “Computational Linguistics”.
I am really sorry again for making this further correction request, even after the ingestion is complete.

We have regenerated our proceedings after fixing the footer and their tarball file is available here:
https://nl

[2022-10-17 17:22] arendu opened #2200 "Correction to Anthology ID 2022.acl-long.243"
Name correction for  Anthology ID 2022.acl-long.243

## Option 1: Metadata correction

The correction has been name in this PR: #2199
The PR fixes the author name to be inline with the PDF.

[2022-10-17 19:36] j0ma opened #2201 "Correction to Anthology ID 2022.dclrl-1.0"
# Instructions

- [x] Anthology ID: 2022.dclrl-1.0
- [x] Please review [our correction policy](https://aclanthology.org/info/corrections/), then fill out the information below.

## Option 1: Metadata correction

It seems like my last name is misspelled on the Anthology page for [Proceedings of the Workshop on Dataset Creation for Lower-Resourced Languages within the 13th Language Resources and Eva

[2022-10-17 23:16] #2201 closed

[2022-10-18 01:50] #2193 closed

[2022-10-18 04:22] xinru1414 commented on #2200
@arendu Thank you for the PR!

[2022-10-18 05:25] arendu commented on #2200
Thanks for the quick approval! @mjpost and @xinru1414

[2022-10-18 18:53] #2200 closed

[2022-10-19 02:27] xinru1414 commented on #2095
@yfliu-fcu thank you for the ingestion request. We can proceed once we have the ingestion material.

[2022-10-19 06:44] MrSeven77 opened #2205 "Correction to Anthology ID 2022.coling-1.30"
Dear Anthology Directors,

Recently I noticed that the coling 2022 organizers have requested to reingest coling 2022 main papers, which may overwrite my previous correction:
[https://github.com/acl-org/acl-anthology/issues/2192](url)

After getting in touch with the organizers, they suggest that I should file a forward correction request with the following processed files:

## Request 1: Metadata

[2022-10-19 12:48] boknilev opened #2206 "Correction to Anthology ID 2020.acl-tutorials.1"
# Instructions

**Please be sure to add the Anthology ID in the Issue title**

Please review [our correction policy](https://aclanthology.org/info/corrections/),
then fill out the information below.

## Option 1: Metadata correction

Multiple people have been asking for the tutorial slides. Please add the attached slides (a PDF) as metadata, so that people can access them.

[slides.pdf](https://gi

[2022-10-19 14:00] chengzhipanpan opened #2207 "Correction to Anthology ID 2022.acl-long.76"
# Option 1: Metadata correction
The name of the first author should be `Bohong Wu` (as is presented in the pdf https://aclanthology.org/2022.acl-long.76 ), not `Wu Hong` (first-name=Bohong, surname=Wu). Such a mistake is caused by my error naming strategy on openreview.net.

[2022-10-19 19:50] #2113 closed

[2022-10-20 04:43] xinru1414 commented on #2205
@MrSeven77 Will process Nov, after the COLING reingestion merge which will happen at the end of Oct.

[2022-10-20 14:52] Husamx commented on #2185
@xinru1414 Hi, an update on this would be much appreciated. Thank you!

[2022-10-20 15:24] mbollmann commented on #2185
@Husamx We process corrections once a month, at the end of the month.

[2022-10-21 08:53] yangzhch6 opened #2209 "Correction to Anthology ID 2022.findings-naacl.104"
## Option 1: Metadata correction
The first author's name should be changed from `ZhiCheng Yang` to `Zhicheng Yang`

[2022-10-21 11:07] yfliu-fcu commented on #2095
Thank you for your notification. We are now preparing the materials for the
forthcoming ROCLING 2022 proceedings, including the copyright transfers.

On Wed, Oct 19, 2022 at 10:27 AM xinru1414 ***@***.***> wrote:

[2022-10-21 16:31] tutubalinaev opened #2210 "Correction to Anthology ID 2022.smm4h-1.53"
## Option 2: Revision or erratum

*Please add the following information*

- I have attached the revised PDF or erratum to this issue
- I have written a brief description of the changes below

The brief description:

Revised PDF:
[2022.smm4h-1.53.pdf](https://github.com/acl-org/acl-anthology/files/9840790/2022.smm4h-1.53.pdf)

[2022-10-22 05:23] entslscheia opened #2211 "Correction to Anthology ID 2022.coling-1.148"
Hi,

I would like to submit a revision of my COLING'22 paper (id: 2022.coling-1.148). Many thanks!

Attached file:
[COLING22_camera_ready-2.pdf](https://github.com/acl-org/acl-anthology/files/9843634/COLING22_camera_ready-2.pdf)
Description:
Updated numbers on WebQSP (i.e., Table 2(c)).

[2022-10-23 00:28] #2086 closed

[2022-10-24 05:33] entslscheia commented on #2211
I would like to replace the attached file with a new one, so I'll create another issue and close this one

[2022-10-24 05:33] #2211 closed

[2022-10-24 05:39] entslscheia opened #2212 "Correction to Anthology ID 2022.coling-1.148"
## Option 2: Revision or erratum

Revised PDF:
[COLING22_camera_ready_revised.pdf](https://github.com/acl-org/acl-anthology/files/9848985/COLING22_camera_ready_revised.pdf)

Brief description:

[2022-10-25 02:28] xinru1414 commented on #2212
See #2211 as welll

[2022-10-25 14:43] fedormyskin opened #2213 "Correction to Anthology ID 2022.latechclfl-1.13"
# Instructions

**Please be sure to add the Anthology ID in the Issue title**

Please review [our correction policy](https://aclanthology.org/info/corrections/),
then fill out the information below.

## Option 1: Metadata correction

The name of the second author is correct in the PDF but wrong in the metadata.
The correct name is: Karlo Slot.

https://aclanthology.org/2022.latechclfl-1.13.pdf

[2022-10-25 15:40] Ka7harina opened #2214 "Correction to Anthology ID 2021.conll-1.1"
# Instructions

**Please be sure to add the Anthology ID in the Issue title**
Done

## Option 2: Revision

*Please add the following information*

- [x] I have attached the revised PDF to this issue
- [x] I have written a brief description of the changes below

*The brief description of the changes will be displayed on your paper page, and should be written in a neutral (third-person) fashion with

[2022-10-26 06:03] francisdzheng opened #2216 "Correction to Anthology ID 2022.wat-1.3"
**Option 2: Revision or erratum**

This revision corrects a few typos (misspellings) on the third and fourth pages (pages 46 and 47). I've attached the revised PDF to this issue.

[2022.wat-1.3.pdf](https://github.com/acl-org/acl-anthology/files/9866602/2022.wat-1.3.pdf)

[2022-10-26 12:39] thegoose20 commented on #2106
Hello!  It looks like the PDF in the workshop proceedings has now been compiled correctly, thank you!  Could the PDF be updated with the version I included above so the figure captions are correct, though?  Additionally, I updated my issue to include a metadata change because the author order doesn't match the PDF.  Thank you!!

[2022-10-27 01:42] hhlim33 opened #2218 "Correction to Anthology ID 2022.coling-1.524"
## Option 1: Metadata correction

Our COLING paper has been posted online but it displays the old title "Automatic Nominalization of Clauses"
https://aclanthology.org/2022.coling-1.524.pdf
The title should be "Automatic Nominalization of Clauses through Textual Entailment".
Thank you

[2022-10-27 03:13] ThiagoCF05 commented on #1897
Hello everyone,

Sorry the delay. Here there are the proceedings:

Main Conference: https://drive.google.com/file/d/1rZjRqM5hXFiqikxO7v2Oc7K1CGtD-VNn/view?usp=sharing
Demo: https://drive.google.com/file/d/1hfVZjDgam6PcI4Yi7iehao4dDSSJEkTE/view?usp=sharing
Workshop: https://drive.google.com/file/d/1JKD1WSLXAYs5fZkb55Ku9NEQsb125CKX/view?usp=sharing

Please let me know whether there is something else

[2022-10-27 07:59] imperialite opened #2219 "Correction to Anthology ID 2022.bea-1.5"
This revision adds one funding institution in the Acknowledgments section on page 5 that was accidentally missed out during the pre-final submission.

[A_Baseline_Readability_Model_for_Cebuano.pdf](https://github.com/acl-org/acl-anthology/files/9876983/A_Baseline_Readability_Model_for_Cebuano.pdf)

[2022-10-27 08:01] imperialite opened #2220 "Correction to Anthology ID 2022.cmcl-1.12"
This revision adds one funding institution in the Acknowledgments section on page 6 that was accidentally missed out during the pre-final submission.

[CMCL_2022.pdf](https://github.com/acl-org/acl-anthology/files/9877147/CMCL_2022.pdf)

[2022-10-27 12:29] dxlong2000 commented on #2183
Hi @xinru1414, have you fixed it successfully? Thanks!

[2022-10-27 13:23] mjpost commented on #2183
This has been fixed and will be merged as part of October's corrections at the end of the month.

[2022-10-27 14:58] lzjjeff opened #2221 "Correction to Anthology ID 2022.ccl-1.50"
## Option 2: Revision or erratum

- [x] I have attached the revised PDF or erratum to this issue
- [x] I have written a brief description of the changes below

*The brief description of the changes will be displayed on your paper page, and should be written in a neutral (third-person) fashion with complete sentences.

Summary Of Changes

## Revised paper
[CCL2022_ToSarcasm.pdf](https://github.com/

[2022-10-27 21:36] maihoangdao commented on #2186
@xinru1414  hi, thank you for fixing the issue, but this issue has been open for 14 days and is still pending. Who could I contact to merge the commit?

[2022-10-28 13:29] treitmaier opened #2222 "https certificates are expired on https://aclanthology.org"
#### Issue description
The certificate for aclanthology.org expired on Wed, 26 Oct 2022 15:56:27 GMT

#### Steps to reproduce the issue
Visit https://aclanthology.org/

#### What's the expected result?
https://aclanthology.org/

A secure connection to the website

#### What's the actual result?
An insecure connection and warning of a potential security risk.

#### Additional details / screenshot
<

[2022-10-28 18:44] mbollmann commented on #2186
@maihoangdao We merge all corrections in a batch at the end of each month.

[2022-10-31 08:32] cth127 opened #2223 "Correction to Anthology ID 2022.coling-1.338"
## Option 2: Revision or erratum

- [x] I have attached the revised PDF or erratum to this issue
- [x] I have written a brief description of the changes below

This revision adds corresponding author information.

[2022.coling-1.338.pdf](https://github.com/acl-org/acl-anthology/files/9899391/2022.coling-1.338.pdf)

[2022-10-31 18:02] mjpost commented on #2222
Thanks for reporting—I've submitted an internal ticket and will close this when the issue is resolved.

[2022-10-31 18:02] #2164 closed

[2022-10-31 18:02] #2160 closed

[2022-10-31 18:02] #2168 closed

[2022-10-31 18:02] #2158 closed

[2022-10-31 18:02] #2159 closed

[2022-10-31 18:02] #2171 closed

[2022-10-31 18:02] #2173 closed

[2022-10-31 18:02] #2181 closed

[2022-10-31 18:02] #2182 closed

[2022-10-31 18:02] #2192 closed

[2022-10-31 18:02] #2195 closed

[2022-10-31 18:02] #2186 closed

[2022-10-31 18:02] #2188 closed

[2022-10-31 18:02] #2198 closed

[2022-10-31 18:02] #2207 closed

[2022-10-31 18:02] #2209 closed

[2022-10-31 18:02] #2212 closed

[2022-10-31 18:02] #2213 closed

[2022-10-31 18:02] #2214 closed

[2022-10-31 18:02] #2218 closed

[2022-10-31 18:02] #2216 closed

[2022-10-31 18:02] #2221 closed

[2022-10-31 18:02] #2219 closed

[2022-10-31 18:02] #2220 closed

[2022-10-31 18:05] mjpost commented on #1184
We should use an [issue form](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms) for this.

[2022-10-31 18:26] #2222 closed

[2022-10-31 20:37] akoehn commented on #1184
Oh, two years already :-)

I agree that it seems like a very good idea to rely more on issue forms. Even with templates people fill them out so differently.

[2022-11-01 01:42] mjpost commented on #2126
We don't have a defined process for that, but you should check out https://github.com/rycolab/aclpub2

[2022-11-01 01:45] mjpost commented on #2111
ping @xinru1414

[2022-11-01 01:46] mjpost commented on #2048
Thanks. These must be provided by the submitter. We could process them if someone wants to add them to the XML, but won't do it ourselves.

[2022-11-01 01:47] mjpost commented on #1990
It looks like this commit got dropped, but I believe this has been processed since the revision [is present on the Anthology](https://aclanthology.org/2021.mrl-1.5/).

[2022-11-01 01:47] #1990 closed

[2022-11-01 01:49] mjpost commented on #1357
Policy has been changed, this can be processed. Ping: @xinru1414

[2022-11-01 01:50] mjpost commented on #1546
This was corrected with August 2021 corrections.

[2022-11-01 01:50] #1546 closed

[2022-11-01 11:30] ThiagoCF05 commented on #1897
Dear @xinru1414 and @mjpost ,

Please let us know whether the files are correct.

Best wishes,

[2022-11-02 01:06] xinru1414 commented on #2205
@MrSeven77 Now that the COLING reingestion is live on anthology, could you double check if the revision is necessary? I couldn't tell the difference in the titles.

[2022-11-02 01:09] xinru1414 commented on #2206
@mjpost Could you remind me how to process this?

[2022-11-02 01:15] xinru1414 commented on #2111
Sorry about the delay!

[2022-11-02 01:25] xinru1414 commented on #2097
@mjpost I think it does? This is the "Corrected.pdf".

<img width="719" alt="Screenshot 2022-11-01 at 6 23 47 PM" src="https://user-images.githubusercontent.com/27436920/199372762-6f052bdf-9d42-4e1f-a7e3-44b3ff2d09ab.png">

We might be looking at different files?

[2022-11-02 01:27] mjpost commented on #2206
This is not metadata but an attachment. Grep for `<attachment` in some of the older (maybe 2015) ACLs. Make sure to use an appropriate type (e.g., "slides") and follow the naming convention.

[2022-11-02 01:28] mjpost commented on #2097
Oh, I see, each has a different highlight. @darthskyy please submit a revised version without any highlighting. The revision is meant to stand on its own.

[2022-11-02 06:03] MrSeven77 commented on #2205
@xinru1414 The title has been corrected, but the bibkey is still
`liu-etal-2022-incorporating-casual`
Would appriciate it if this bibkey is changed to
`liu-etal-2022-incorporating-causal`
or is this automatically generated and cannot be manually edited?

Besides, the pdf should also be revised to this new version.  Thanks a lot!

[2022-11-02 07:36] boknilev commented on #2206
Yes, I couldn't find instructions on how to open an issue for adding attachments, so metadata seemed like the closest thing. I hope this can still be done.

[2022-11-02 10:16] mjpost commented on #2206
No problem. @xinru1414 there is also a script, add_attachment.py

[2022-11-02 12:20] Husamx commented on #2185
@xinru1414 @mbollmann Can you please let me know when the corrections will be reflected on the ACL website?
When I select pdf, I still get the old version (without the corrections).
https://aclanthology.org/2022.coling-1.520/

[2022-11-02 15:06] manning opened #2226 "Correction to Anthology entity linking for “Huy Nguyen”"
The page for for Huy Nguyen:

https://aclanthology.org/people/h/huy-nguyen/

wrongly merges multiple people. I guess “Huy Nguyen” is the “John Smith” of Vietnamese.

The 2003 and 2004 publications that I am on are for one Huy T Nguyen, who is not author of any of the other publications. All the publications with Diane Litman are from Huy Viet Nguyen, who was at U. Pittsburgh and then went to Amazo

[2022-11-02 15:13] manning opened #2227 "Correction to Anthology ID W02-1012"
## Option 1: Metadata correction

The first word of the paper title in the metadata should be "Extensions" not "Extentions"

[2022-11-02 21:07] ddakota opened #2228 "Ingestion Request: TLT (2023-03-07)"
Venue identifier: TLT
Website: https://cl.indiana.edu/tlt2023/
Volume title: Proceedings of the 21st International Workshop on Treebanks and Linguistic Theories
SIG: SIGPARSE
Submission date: 15 November 2022
Desired publication date: 7 March 2023

[2022-11-02 21:14] ddakota opened #2229 "Ingestion Request: DepLing (2023-03-07)"
Venue identifier: DepLing
Website: https://gurt.georgetown.edu/gurt-2023/depling-call-for-papers/
Volume title: Proceedings of the Seventh International Conference on Dependency Linguistics
SIG: SIGPARSE
Submission date: 15 November 2022
Desired publication date: 7 March 2023

[2022-11-02 21:16] ddakota opened #2230 "Ingestion Request: UDW (2023-03-07)"
Venue identifier: UDW
Website: https://universaldependencies.org/udw23/
Volume title: Proceedings of the Sixth Workshop on Universal Dependencies
SIG: SIGPARSE
Submission date: 15 November 2022
Desired publication date: 7 March 2023

[2022-11-02 21:20] ddakota opened #2231 "Ingestion Request: CxGs+NLP 2023"
Venue identifier: CxGs+NLP
Venue name: Workshop on Construction Grammars and NLP
Website: https://sites.google.com/view/cxgsnlpworkshop
Volume title: Proceedings of the First International Workshop on Construction Grammars and NLP
SIG: SIGPARSE
Submission date: 15 November 2022
Desired publication date: 7 March 2023

This is a new venue in ACL anthology and will require confirmation on venue ident

[2022-11-02 21:34] nschneid commented on #2231
Thanks @ddakota. To clarify, this, #2230, #2229, and #2228 are all bundled under the same event—[GURT 2023](https://gurt.georgetown.edu/gurt-2023/) (which has no main session, just these 4 workshops).

[2022-11-02 21:58] xinru1414 commented on #2231
@nschneid thank you for the clarification.

@mjpost could you confirm the venue identifier?

@ddakota please submit ingestion material by Feb 21st, 2023 for the desired publication date.

[2022-11-02 22:10] xinru1414 commented on #2205
@MrSeven77 I see, the typo is `Casual`. Thanks for the clarification!

[2022-11-02 22:19] xinru1414 commented on #2197
@maciej-ogrodniczuk in case you missed the comment.

[2022-11-02 22:38] maciej-ogrodniczuk commented on #2197
I was just a humble messenger who noticed this problem, I don't even have access to CODI-CRAC shared task at SoftConf. Carolyn Rose (who was responsible for preparing the proceedings for the CODI-CRAC shared task) sent the modified tarball to Francis Bond and Seung-Hoon Na on Oct 19 so it is probably fixed already in the system. Can you check it in SoftConf and regenerate the proceedings in the AC

[2022-11-03 02:47] xinru1414 commented on #2206
followed convention [here](https://aclanthology.org/attachments/P19-4001.Presentation.pdf)

[2022-11-03 03:12] xinru1414 commented on #2226
@manning Thanks for the insight!

@mjpost The author for [the 2019 paper](https://aclanthology.org/W19-4450/) has left liulishuo. I couldn't track down the author for [the 2002 paper](https://aclanthology.org/C02-1041/) either. I will link other authors to their correct papers.

[2022-11-03 09:13] mjpost commented on #2226
Thanks for the report and quick split. @xinru1414 can you expand the comments (and possibly also the ids) in the name variants file? I'm afraid pgh etc are too opaque.

[2022-11-03 12:47] mbollmann commented on #2197
Thanks, got it. We don't typically have access to SoftConf for each event. The publication chairs/organizers export their data from SoftConf and generate the proceedings; we just ingest them afterwards. So it's really the publication chairs/organizers who'd need to take action here. If you could ping them and direct them to this issue, and they can provide us with updated files, we can fix it in t

[2022-11-03 12:57] maciej-ogrodniczuk commented on #2197
Carolyn sent me the tarball from SoftConf – I hope this is all you need to close this issue. I took a look inside and the DOI links are removed from papers. Here is the link: http:://mozart.ipipan.waw.pl/~maciek/proceedings.tgz

[2022-11-03 15:58] xinru1414 commented on #1897
@ThiagoCF05 Unfortunately the ingestion materials are still incomplete. I'm linking [this page](https://github.com/rycolab/aclpub2) again. Please pay extra attention to the `Proceedings input format and structure` and the `Expected output` sections. I'm not seeing the `inputs` folder, which should include all the `yaml` files, in the ingestion material you submitted. It's also missing the `attachm

[2022-11-03 16:06] xinru1414 commented on #2095
@yfliu-fcu Thank you for letting us know. If you could submit 2 weeks prior to the desired publication date that'd be the best.

[2022-11-03 16:13] ThiagoCF05 commented on #1897
@xinru1414 I am sorry about that. Here it is the input files missing:

Main: https://drive.google.com/drive/folders/1FdxCTTIBiso2Nb28GO7t3ZsJEky-l1OZ?usp=sharing
Demo: https://drive.google.com/drive/folders/1u71d9vCwQ169f7DWrXzBIPXQ_wV13PB3?usp=sharing
Workshop: https://drive.google.com/drive/folders/1mjQ7sZgi2qVbqrZBLkkkVKFV0sTyRXns?usp=sharing

Please let me know whether I should merge the folde

[2022-11-04 06:04] dxlong2000 commented on #2183
Hi Mr. @mjpost , I still haven't seen the 2 pages merged yet. Do you have any suggestions?

https://aclanthology.org/people/d/do-long/
https://aclanthology.org/people/x/xuan-long-do/

[2022-11-04 10:49] mjpost commented on #2183
We may have missed this correction. But you can do it yourself if you like: edit data/xml/2022.findings.xml, find your name and correct it, and create a PR. We can then handle it immediately.

Otherwise we will fix it and process it at the end of the month.

[2022-11-04 12:56] maciej-ogrodniczuk opened #2233 "Correction to Anthology ID 2022.crac-1.3"
Dear Editors,

I was contacted by one of the authors that their data file (added to CRAC 2022 workshop submision) was not published at https://aclanthology.org/2022.crac-1.3/. Can we add the attached file [10_file_Data.gz](https://github.com/acl-org/acl-anthology/files/9938376/10_file_Data.gz) to the record? We could have a data field and button just as for code in e.g. https://aclanthology.org/P1

[2022-11-04 17:46] EVanElverdinghe opened #2234 "Correction to Anthology ID 2022.digitam-1.3"
1: Metadata correction

- Title: Describing Language Variation in the Colophons of Armenian Manuscripts
- Authors: Emmanuel Van Elverdinghe, Bastien Kindt
- Abstract:
The colophons of Armenian manuscripts constitute a large textual corpus spanning a millennium of written culture. These texts are highly diverse and rich in terms of linguistic variation. This poses a challenge to NLP tools, especial

[2022-11-04 17:49] EVanElverdinghe opened #2235 "Correction to Anthology ID 2022.digitam-1.4"
1: Metadata correction

- Title: Analyse Automatique de l’Ancien Arménien. Évaluation d’une méthode hybride « dictionnaire » et « réseau de neurones »
sur un Extrait de l’_Adversus Haereses_ d’Irénée de Lyon
- Authors: Gabriel Kepeklian, Bastien Kindt
- Abstract:
The aim of this paper is to evaluate a lexical analysis (mainly lemmatization and POS-tagging) of a sample of the ancient Armenian versi

[2022-11-04 17:51] EVanElverdinghe opened #2236 "Correction to Anthology ID 2022.digitam-1.0"
2: Revision or erratum

This correction aims to resolve a mix-up that arose when the 2022 DigitAm workshop was submitted on ACLAnthology. The articles 1.3 and 1.4 had been incorrectly swapped and preliminary versions had been sent instead of the final versions as approved by the authors.

[2022.digitam-1.0.pdf](https://github.com/acl-org/acl-anthology/files/9940906/2022.digitam-1.0.pdf)

[2022-11-04 17:53] EVanElverdinghe commented on #2234
Corrected abstract:
The colophons of Armenian manuscripts constitute a large textual corpus spanning a millennium of written culture. These texts are highly diverse and rich in terms of linguistic variation. This poses a challenge to NLP tools, especially considering the fact that linguistic resources designed or suited for Armenian are still scarce. In this paper, we deal with a sub-corpus of col

[2022-11-04 21:05] icnlsp opened #2237 "Ingestion request: ICNLSP 2022"
Venue Code: ICNLSP
Volume name: 1
Venue identifier: https://aclanthology.org/venues/icnlsp/
Venue name: Proceedings of the 5th International Conference on Natural Language and Speech Processing (ICNLSP-2022)
Venue URL: https://www.icnlsp.org/
Date of publication: 31 December 2022

[2022-11-04 22:58] xinru1414 commented on #2237
@icnlsp thanks for the ingestion request. please submit ingestion material 2 weeks prior to the desired publication date.

[2022-11-05 15:10] xinru1414 commented on #2096
Ingested: https://aclanthology.org/volumes/2022.clasp-1/

[2022-11-05 15:10] #2096 closed

[2022-11-05 15:11] xinru1414 commented on #2050
Resolved: https://aclanthology.org/2022.naacl-main.13.pdf

[2022-11-05 15:11] #2050 closed

[2022-11-06 05:22] xinru1414 commented on #1897
Hi @ThiagoCF05 The above links still don't contain complete information.  It should contain an `output` folder, and the `output` folder should contain an`inputs` folder (which contains the yaml files we need for ingestion), an `attachments` folder (which contains attachments for the papers), a `proceedings.pdf` file (this is the entire proceedings pdf that we need for ingestion) and `watermarked_p

[2022-11-06 11:48] AlexRAtrio opened #2239 "Correction to Anthology author entries"
## Option 1: Metadata correction

Author entry https://aclanthology.org/people/a/alex-atrio/ should be merged into https://aclanthology.org/people/a/alex-r-atrio/ (I am the same person).

[2022-11-06 13:13] ThiagoCF05 commented on #1897
Dear @xinru1414 , thanks for your guiding. I organized the files in the correct format now. They are available in the following links:

Main Conference: https://drive.google.com/file/d/1BEoFktySqmPom7phXgc-3exxu_2Nc6-q/view?usp=sharing
Demo: https://drive.google.com/file/d/114cHaJ8_zWph7_oorvVnz_o_pWcr8zp0/view?usp=sharing
Workshop: https://drive.google.com/file/d/1mD6sqSsDZ7Xg6JygDe6ygoi8eifjVkQa

[2022-11-06 14:13] DetmarM opened #2240 "Correction to Anthology page https://aclanthology.org/sigs/sigann/"
On the sigann webpage https://aclanthology.org/sigs/sigann/ the link to the [Website of SIGANN](http://www.cs.vassar.edu/sigann/)
when clicked results in a "403 forbidden" error.

[2022-11-06 14:31] nschneid commented on #2240
The new website is https://sigann.github.io/

[2022-11-06 15:14] DetmarM commented on #2240
Right, but someone with the relevant permissions needs to update the page  https://aclanthology.org/sigs/sigann/  which one gets to from the main acl anthology page https://aclanthology.org/ when clicking on ANN in the SIGs listing.

[2022-11-07 05:52] xinru1414 commented on #2239
@AlexRAtrio Would recommend you to stick to `Àlex R. Atrio` for future publications.

[2022-11-07 05:57] xinru1414 commented on #2240
@nschneid thanks for the pointer!

[2022-11-07 06:30] xinru1414 commented on #1897
@ThiagoCF05 The ingestion material is still incomplete. I'm referring to [this page](https://github.com/rycolab/aclpub2) again -- the `watermarked_pdf` dir must contain a special file named `0.pdf`. However it's missing in the current submission.

Please double check the instructions on the `aclpub2` page.

[2022-11-07 09:19] yfliu-fcu commented on #2095
We finished the ROCLING 2022 proceedings with ACLPUB format for
publication.  All data, including the copyright transfers, has uploaded to
Google Drive and the link has been sent to the Anthology Director via
emails: ***@***.***; ***@***.*** Let me know if there are any
issues on our end. Thank you.

On Fri, Nov 4, 2022 at 12:06 AM xinru1414 ***@***.***> wrote:

[2022-11-07 12:06] ThiagoCF05 commented on #1897
Dear @xinru1414 , thanks. Just added the `0.pdf` in the proceedings. here it is the following .zip files:

1. Main Conference: https://drive.google.com/file/d/16VRZmuZpGAvsJMo0O2q2Zp6_N5vpJwli/view?usp=sharing
2. Demo: https://drive.google.com/file/d/1JjoEFe3Ke5Rpo60d3mYhUMzQgo1CpbsO/view?usp=sharing
3. Workshop: https://drive.google.com/file/d/17IK4vmoyLBWQuBS2FHeH-u81-d0yjy13/view?usp=sharing

T

[2022-11-08 00:12] #2134 closed

[2022-11-08 05:22] xinru1414 commented on #1897
@ThiagoCF05 We are getting really close here, hopefully this is the last fix. In all three `papers.yaml` files, there are some `first_name` and `last_name` fields are filled with author's email addresses instead of their first name and last name.

[2022-11-08 16:17] xinru1414 commented on #2095
@yfliu-fcu please preview [here](https://preview.aclanthology.org/rocling-22-ingestion/volumes/2022.rocling-1/) and let me know if there are any issues.

[2022-11-08 18:27] bdgdevelopment commented on #2128
For the time being, is there a way to get author's affiliation data without opening the pdf file?

[2022-11-08 19:44] akoehn commented on #2128
No -- it is simply not in the metadata that we have.

[2022-11-08 21:05] mjpost commented on #2128
That said, we could start adding this. We get this information from aclpub2 which is used since last year for ingestion of main *ACL conferences. We'll add this for EMNLP'22 and look into revisiting the old imports.

[2022-11-08 21:20] mjpost commented on #2058
Any updates here? This really just needs someone to bang this out manually, I bet it would take 20 minutes.

In the meantime, @xinru, for November corrections, can you please remove all `<abstract>` lines for 2022.deeplo-1?

[2022-11-08 22:19] jonmay commented on #2058
I had contacted some organizers back in july and they didn't respond and
then i forgot. but now it looks like the authors are fixed. abstract
problem is still there.

On Tue, Nov 8, 2022 at 1:20 PM Matt Post ***@***.***> wrote:

--
"Je n’ai fait celle-ci plus longue que parce que je n’ai pas eu le loisir
de la faire plus courte." -- Pascal

[2022-11-09 01:20] mjpost commented on #2058
I just did it manually.

[2022-11-09 03:01] ThiagoCF05 commented on #1897
Dear @xinru1414 ,

I would really like to thank you for all your help.

I manually fixed these first name cases. The problem is that some authors did not register on Open Review. So the python script was copying their email as first and last names. Here there are the correct files:

Main Conference: https://drive.google.com/file/d/1iJ6wQE7O7kIRjK9p2IReQrqB-v8GbMl5/view?usp=sharing
Demo: https://dr

[2022-11-09 23:16] mjpost commented on #1184
In addition to this, it would be nice to have a link on every paper page that reads something like

This link would open an issue with the provided metadata-correction issue form. That form would also link people to the documentation showing them how to create their own PR.

[2022-11-09 23:19] mjpost opened #2245 "Backfill author metadata"
We have been using [aclpub2](https://github.com/rycolab/aclpub2) for ingestion since last year. The YAML data they send us has author metadata. We should ingest the author affiliation, and then use this information of #2128 and other issues. This would be a simple one-time script.

[2022-11-11 07:40] Harshagarwal19 opened #2247 "Correction to Anthology ID 2022.mmmpie-1.6"
# Instructions

**Please be sure to add the Anthology ID in the Issue title**

Please review [our correction policy](https://aclanthology.org/info/corrections/),
then fill out the information below.

## Option 1: Metadata correction

The order of author names is different from the order in the pdf.

## Option 2: Revision or erratum

*Please add the following information*

- [x] I have attached the

[2022-11-14 01:32] Harshagarwal19 commented on #2247
Hey @xinru1414 !
I looked at the commit. It contains changes corresponding to paper update. I also requested one change in metadata. Can you please also review that and update? Thanks!

[2022-11-15 00:01] mjpost commented on #2231
The venue identifier for Anthology ID purposes will be  cxgsnlp. CxGs+NLP will be displayed on web pages.

[2022-11-15 10:34] PumpkinPieTroelf opened #2248 "Correction to Anthology 2022.acl-long.587"
## Option 1: Metadata correction

The Anthology page links "data" to SNLI, which is not used in the paper. Instead the paper introduces two new datasets. They can be found on [HuggingFace saf_micro_job_german](https://huggingface.co/datasets/JohnnyBoy00/saf_micro_job_german) and [saf_communication_networks_english](https://huggingface.co/datasets/JohnnyBoy00/saf_communication_networks_english)

[2022-11-15 11:42] mbollmann commented on #2248
Thanks for the issue. This has to be corrected on the Papers with Code website (https://paperswithcode.com/paper/your-answer-is-incorrect-would-you-like-to-1), as we automatically sync this information from them.

[2022-11-15 11:42] #2248 closed

[2022-11-15 14:55] #2197 closed

[2022-11-16 02:01] yfliu-fcu commented on #2095
@xinru1414 we have updated the .bib for some font issues in the abstracts. please reload them from the shared google drive folder.

[2022-11-16 20:10] xinru1414 opened #2249 "Correction to Anthology ID 2021.paclic-1.30"
## Option 1: Metadata correction

Correct author order should be:

Siyu Lei | Ruiying Yang | Chu-Ren Huang

Submitted by one of the authors, Siyu Lei `siyu525.lei@connect.polyu.hk`

[2022-11-18 05:11] yfliu-fcu commented on #2095
@xinru1414 can we preview the updated files? and we would like to know if the proceedings of Rocling 2022 is going to be published at November 19? Rocling 2022 will start at November 21.

[2022-11-19 03:16] davidweichiang commented on #794
In #2243 @mjpost writes:

<language>deu</language>
<language>eng</language>
<language>fra</language>
<language>no-NO</language>
<language>pt-BR</language>
<language>zho</language>
It seems we have a mix of BCP-47 and ISO 639-2/3, but all of our ISO codes are identical between the two standards.

Do we really need country codes? And should we standardize on 2 vs 3 letters?

[2022-11-19 03:22] mjpost commented on #1897
@xinru1414 is this ready for review and merging?

[2022-11-19 13:30] #2095 closed

[2022-11-21 12:56] anacastrosalgado opened #2251 "Ingestion request: LDK (2023-09-13)"
Dear Sirs,

I'm Ana Salgado, the Proceedings Chair of LDK 2023 – 4th Conference on Language, Data and Knowledge.
I'm writing to register our intention to submit our proceedings. Below, you will find the information needed:

**Venue Identifier:** LDK
**Volume Title:** ​Proceedings of the 4th Conference on Language, Data and Knowledge (LDK)
**Sub-Volumes Title:**
Proceedings of the 4th Conference on

[2022-11-21 19:23] mjpost opened #2253 "Ingestion: CSTFRS 2021"
No real hurry on this.

[2022-11-22 03:06] #1164 closed

[2022-11-22 03:06] #1848 closed

[2022-11-22 14:10] xinru1414 commented on #2185
The corrected pdf is already on the website https://aclanthology.org/2022.coling-1.520v2.pdf, but the xml file wasn't updated. Should be good by the end of Nov.

[2022-11-23 17:20] #1897 closed

[2022-11-24 05:44] dgt12 opened #2257 "Correction to Anthology ID 2022.findings-aacl.11"
Metadata correction: 2022.findings-aacl.11
Please update Te Taka Keegan's name in the metadata, so that it matches the name given in the PDF. The first name should be "Te Taka" and the surname should be "Keegan", contrary to what is currently specified in the metadata.

[2022-11-24 05:48] dgt12 opened #2258 "Correction to Anthology ID P19-2018"
Metadata correction: Please update the first word in the title of the paper, to "Māori" instead of "MāOri" (i.e. make the "O" lower-case), so that it matches the PDF.

[2022-11-25 14:47] mbollmann commented on #722
What functionality would this need, besides what we already have in the old and hidden-away posts at https://aclanthology.org/posts/ ?

I imagine if we made the list page slightly more informative (with date + preview of the post) and linked it from the top menu, this would essentially already serve as a blog?

[2022-11-27 08:17] dxlong2000 commented on #2183
Dear @mjpost, please help me to fix it and process it at the end of this month. Thank you very much!

Best regards,

[2022-11-27 12:26] glnmario opened #2260 "Correction to Anthology ID 2022.aacl-main.51"
*Metadata correction: 2022.aacl-main.51*

There is a missing accent on the surname of the last author: Raquel Fern**á**ndez. Please update the metadata to match the author details in the paper.

[2022-11-28 12:12] ajlucassen opened #2261 "Correction to Anthology ID 2022.inlg-main.24"
# Instructions

**Please be sure to add the Anthology ID in the Issue title**

Please review [our correction policy](https://aclanthology.org/info/corrections/),
then fill out the information below.

## Option 1: Metadata correction

The metadata is missing the middle name/initial for the first two authors:
Amit Chaudhary -> Amit Kumar Chaudhary
Alex Lucassen -> Alex J. Lucassen

Thanks in advance

[2022-11-29 10:27] mateuk opened #2262 "Correction to Anthology ID 2022.eval4nlp-1.3"
# Instructions

**Please be sure to add the Anthology ID in the Issue title**

Please review [our correction policy](https://aclanthology.org/info/corrections/),
then fill out the information below.

## Option 1: Metadata correction

Please update the name/surname order and surname spelling of the first author ("Mateusz Krubiński" instead of "Krubi0144ski Mateusz"). The same issue occurs in the Ci

[2022-11-29 12:04] MirunaClinciu opened #2263 "Correction to Anthology ID 2022.inlg-main.18"
## Option 2: Revision or erratum

As some authors had issues with openreview, the final version of the paper was not updated.
Please find the updated version here:
https://github.com/MirunaClinciu/proceedings/blob/main/long/31.pdf

[2022-11-29 18:14] kellymarchisio opened #2264 "Correction to Anthology ID 2021.findings-emnlp.64"
The video linked to this paper is not the correct one.  https://aclanthology.org/2021.findings-emnlp.64.mp4 appears to actually be paper 2021.findings-emnlp.210.

[2022-11-29 19:50] xinru1414 commented on #2264
@mjpost @davidstap I'm wondering if more papers have the same issue. Any input?

[2022-11-29 20:25] davidstap commented on #2264
We spot-checked a lot of video/paper matches. Not sure what went wrong here. I’ll fix this and will investigate.

[2022-11-29 23:58] mjpost commented on #2183
@xinru1414 can you fix this?

[2022-11-30 00:54] wolferobert3 opened #2265 "Correction to Anthology ID 2021.emnlp-main.41"
## Option 2: Revision or erratum
[2022-11-29 - Erratum to Low Frequency Names Exhibit Bias and Overfitting in Contextualizing Language Models.pdf](https://github.com/acl-org/acl-anthology/files/10118403/2022-11-29.-.Erratum.to.Low.Frequency.Names.Exhibit.Bias.and.Overfitting.in.Contextualizing.Language.Models.pdf)

- [ ] I have attached the revised PDF or erratum to this issue
- [ ] I have written

[2022-11-30 08:44] joelmoniz opened #2266 "Correction to Anthology ID 2022.acl-short.9"
# Instructions

## Option 1: Metadata correction

Could my name (the first author, as listed in the meta-data and pdf) for (2022.acl-short.9)[https://aclanthology.org/2022.acl-short.9/] please be updated to use the full name, in line with the pdf? "Joel Ruben Antony Moniz". This would make it consistent with the way my name is written in other publications (https://aclanthology.org/people/j/joel-r

[2022-11-30 17:51] daalft opened #2267 "Ingestion request: nlp4call"
As in previous years, we would like to double-publish the proceedings of our workshop on Natural Language Processing for Computer Assisted Language Learning through ACL Anthology.

Venue identifier: nlp4call
Volume title: Proceedings of the 11th Workshop on Natural Language Processing for Computer Assisted Language Learning (NLP4CALL)

[2022-11-30 23:37] mjpost commented on #722
Yes, good point, this page would work fine. We'd also need to add an RSS feed.